<section  class="section1">
  <div class="container-fluid">
    <div class="row justify-content-center">

      <div  class="col-sm-12 col-md-4 col-lg-4 displayGraph1"  data-aos="fade-up"  data-aos-delay="100" >
        <div class="text-center heading" > Volume Signed </div>
        <div echarts [options]="option1" class="demo-chart" style="width:100%; height:100%" ></div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 displayGraph1"  data-aos="fade-up"  data-aos-delay="200" >
        <div class="text-center heading" > Contracts </div>
        <div style="height:90%; overflow-y:auto">
          <table class="table table-fixed " style="font-size:15px;">
          <thead style="background-color: #0274d8; color: white" >
            <tr>
              <th class="text-center" style="vertical-align: inherit; !important; border-bottom:0px !important">Subsidiaries</th>
              <th class="text-center" style="vertical-align: inherit; !important; border-bottom:0px !important">Contracts </th>
              <th class="text-center"  style="vertical-align: inherit; !important; border-bottom:0px !important" style="padding:0; margin:0; border-bottom:0px !important">Volume (mmt)
                <tr style="border-bottom:0px !important">
                  <th style="border-bottom:0px !important"><i class="fa fa-train fa-2x" aria-hidden="true"></i></th>
                  <th style="border-bottom:0px !important"> <i class="fa fa-truck fa-2x" aria-hidden="true"></i> </th>
                  <th style="border-bottom:0px !important">Total</th>
                </tr>
              </th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let data of option2_tableData; let i = index">
              <td class="text-center" >{{data.sub}}</td>
              <td class="text-center" >{{data.contracts}}</td>
              <td class="text-center" style="padding:0; margin:0">
                <tr>
                  <td class="text-center">{{data.railvolume}}</td>
                  <td class="text-center">{{data.roadvolume}}</td>
                  <td class="text-center"> <b> {{data.volume}} </b> </td>
                </tr>
              </td>
            </tr>

          </tbody>
        </table>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 displayGraph1"  data-aos="fade-up"  data-aos-delay="300" >
        <div class="text-center heading" > Contract Signed </div>
        <div echarts [options]="option3" class="demo-chart" style="width:100%; height:100%" ></div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 displayGraph1"  data-aos="fade-up"  data-aos-delay="400" >
        <div class="text-center heading" > Progress Summary </div>
        <div echarts [options]="option4" class="demo-chart" style="width:100%; height:100%" ></div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 displayGraph1"  data-aos="fade-up"  data-aos-delay="500" >
        <div class="text-center heading" > Connected Graph </div>
        <div echarts [options]="option5" class="demo-chart" style="width:100%; height:95%" ></div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4 displayGraph1"  data-aos="fade-up"  data-aos-delay="600" >
        <div class="text-center heading" > Lifted amount </div>
        <div echarts [options]="option6" class="demo-chart" style="width:100%; height:92%" ></div>
      </div>

    </div>
  </div>
</section>
