<div class="container-fluid" >

  <div id="accordion" role="tablist" aria-multiselectable="true">

    <div class="row justify-content-md-center" >

      <div class="col-md-9">
        <div class="row" >

          <div class="col-md-6" >
            <app-sm1></app-sm1>
          </div>

          <div class="col-md-6" >
            <div class="row justify-content-md-center" >
              <div  class="col-md-12">
                <app-sm2></app-sm2>
              </div>
            </div>
          </div>

          <div class="col-md-6 height400" >
            <app-sm3></app-sm3>
          </div>

          <div class="col-md-6 height400" >
            <app-sm4></app-sm4>
          </div>

          <div class="col-md-6 height400" >
            <app-sm5></app-sm5>
          </div>

          <div class="col-md-6 height400" >
            <app-sm6></app-sm6>
          </div>

        </div>
      </div>

      <div class="col-md-3 box-radius text-center" data-aos="fade-right"  data-aos-delay="500" >

        <div class="row">

          <div class="col-12" >
            <app-sm7></app-sm7>
          </div>

          <div class="col-12" >
            <app-sm8></app-sm8>
          </div>

          <!-- <div class="col-12" >
            <app-sm8></app-sm8>
          </div> -->

        </div>

      </div>

    </div>

  </div>
</div>
