<div class="container">

  <div  class="row justify-content-md-center text-center" >
    <div class="col-12 " style="margin: auto; height:200px; "  >
      <img data-aos="zoom-in"  data-aos-delay="250"  src="../../assets/coalindia.png" class=" rounded mx-auto d-block logo " style="  height:30vh;margin:0 auto; margin-top: 8vh;">
    </div>
  </div>

  <h1  class="text-center"  style="padding-top:19vh; padding-bottom:1vh" data-aos="zoom-in" data-aos-delay="650">
    QCI Coal
  </h1>

  <div class="row justify-content-md-center" >
    <div class="col-lg-3 col-md-3 col-sm-12" style="padding:10px" >

      <div class="card" style="min-width: 200px; padding:10px" data-aos="fade-up"  data-aos-delay="150" >
        <span class="text-center" style="font-size:2rem">
          <i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i>
        </span>
        <div class="card-block">
          <h4 class="card-title text-center" >PSU Contracts</h4>
          <div style="float: none; margin: 0 auto;" >
            <a  class="btn btn-primary" >View Details</a>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-12" style="padding:10px">

      <div class="card" style="min-width: 200px; padding:10px"  data-aos="fade-up"  data-aos-delay="200" >
        <span class="text-center"  style="font-size:2rem">
          <i class="fa fa-line-chart fa-4x"></i>
        </span>

        <div class="card-block">
          <h4 class="card-title text-center">Tracker</h4>
          <a  class="btn btn-primary">View Tracker</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12" style="padding:10px">
      <div class="card" style="min-width: 200px; padding:10px"  data-aos="fade-up"  data-aos-delay="250" >
        <span class="text-center" style="font-size:2rem">
          <i class="fa fa-bar-chart-o fa-4x"></i>
        </span>
        <div class="card-block">
          <h4 class="card-title text-center">Summary</h4>
          <a   class="btn btn-primary">View Summary</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12" style="padding:10px">
      <div class="card" style="min-width: 200px; padding:10px"  data-aos="fade-up"  data-aos-delay="200" >
        <span class="text-center" style="font-size:2rem">
          <i class="fa fa-cloud-upload fa-4x"></i>
        </span>
        <div class="card-block">
          <h4 class="card-title text-center">Upload</h4>
          <a [routerLink]="['/home/upload']" class="btn btn-primary">Upload Data</a>
        </div>
      </div>
    </div>

  </div>

</div>

<app-section1 id="section1"  style="padding-top:20vh" ></app-section1>
<app-section2 id="section2"  style="padding-top:20vh" ></app-section2>

<div class="container-fluid">


  <div class="row " style="padding-top:15vh; padding-bottom:5vh;" >

    <div class="col-12" style="border-bottom: 6px solid #525252 !important"  data-aos="zoom-in" data-aos-delay="850"></div>
    <div class="col-12" style="border-bottom: 3px solid #FFF !important"  ></div>
    <!-- <div class="col-12" style="border-bottom: 6px solid #0274d8 !important"  data-aos="zoom-in" data-aos-delay="650"></div> -->

    <div class="col-12" style="border-bottom: 14px solid #0274d8 !important"  ></div>

    <div class=" col-md-8 text-center" style="color:white; background-color:#0274d8">
      <h2 style="margin-bottom:0px; margin-top:0px "  id="section3"> PSU Summary - {{CSummary}}</h2>
      <p style="color:grey; margin-bottom:0px"  style="color:white; background-color:#0274d8"> <i> last updated : {{last_update}} </i></p>
      <br>
    </div>

    <div class=" col-md-4"  style="color:white; background-color:#0274d8">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select subsidiary
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index:121">
          <a *ngFor='let psu of PSUArray' class="dropdown-item"  (click)="psuSummary(psu._id, psu.name)">{{psu.name}}</a>
        </div>
      </div>
    </div>

    <!-- <div class="col-12" style="border-bottom: 6px solid #0274d8 !important"  data-aos="zoom-in" data-aos-delay="650"></div> -->
    <div class="col-12" style="border-bottom: 3px solid #FFF !important" ></div>
    <div class="col-12" style="border-bottom: 6px solid #525252 !important"  data-aos="zoom-in" data-aos-delay="850"></div>

  </div>

  <router-outlet></router-outlet>

</div>
